{% extends 'store/main.html' %}

{% load static %}

{% block content %}
<style>
    .svg-background {
        width: 100%;
        position: absolute;
        z-index: -100;
        height: 100%;
    }
    .box-element{
        padding: 40px;
        border-radius: 30px;
    }
</style>

<video class="svg-background" loop autoplay>
    <source src="{% static 'live/autumn-leaves2.webm' %}" type="video/webm">
</video>
<div class="container">


<div class="row">

    {% if order.get_cart_items != 0 %}
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
            <table class="table">
                <tr>
                    <th><h4>Total Quantity: <strong>{{order.get_cart_items}}</strong></h4></th>
                    <th><h4>Total Amount: <strong>${{order.get_cart_total|floatformat:2}}</strong></h4></th>
                    <th>
                        <a style="float: right; color: white" class="btn add-btn" href="{% url 'checkout' %}">Checkout</a>
                    </th>
                </tr>
            </table>
        </div>



        <div class="box-element">
            <div class="cart-row">
                <div style="flex: 1"></div>
                <div style="flex: 2"><strong>Item</strong></div>
                <div style="flex: 1"><strong>Price</strong></div>
                <div style="flex: 1"><strong>Quantity</strong></div>
                <div style="flex: 1"><strong>Total</strong></div>
                <div style="flex: 0.1"><strong></strong></div>

            </div>

            {% for item in items %}
            <div class="cart-row">
                <div style="flex: 1"><img class="row-image" src="{{item.product.imageURL}}" alt=""></div>
                <div style="flex: 2">{{item.product.name}}</div>
                <div style="flex: 1">{{item.product.price|floatformat:2}}</div>
                <div style="flex: 1">
                    <p class="quantity">{{item.quantity}}</p>
                    <div class="quantity">
                        <img data-product="{{item.product.id}}" data-action="add" src="{% static 'images/arrow-up.png' %}" class="chg-quantity update-cart">
                        <img data-product="{{item.product.id}}" data-action="remove" src="{% static 'images/arrow-down.png' %}" class="chg-quantity update-cart">

                    </div>
                </div>

                <div style="flex: 1">${{item.get_total}}</div>
                <div style="flex: 0.1">
                    <img data-product="{{item.product.id}}" data-action="cancel" src="{% static 'images/cancel.png' %}" class="chg-quantity update-cart">
                </div>

            </div>
            {% endfor %}

        </div>
        {% else %}

<div class="col-lg-12">
<div class="box-element" style="padding: 40px 80px;">
<h3>You Do Not Have Any Items in Cart <a style="float: right; color: white" class="btn add-btn" href="{% url 'store' %}">&#x2190; Continue Shopping</a></h3>

</div>
</div>

        {% endif %}
    </div>
</div>


    </div>

{% endblock content %}