{% extends 'store/main.html' %}

{% load static %}

{% block content %}
<style>
body {
    background: white;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.all-products {
    width: 70%;
    margin: 1% 4% 5% auto;
}
.category {
    width: 15%;
    margin: 3.3% auto 2% 3%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding: 20px 30px;
border-radius: 22px;
background: #ffffff;
box-shadow:  8px 8px 18px #e3e3e3,
             -8px -8px 18px #ffffff;
}

.category a {
  padding: 6px 8px 6px 35px;
  text-decoration: none;
  font-size: 18px;
  color: var(--main-bg);
  display: block;
}
.category h3 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  display: block;
}

.category a:hover {
  color: #064579;
}
.box-element {
    border-radius: 0 0 20px 20px;
    width: 390px;
}
.thumbnail {
    width: 390px;
    margin-top: 25px;
border-radius: 12px 12px 0 0;
background: rgb(255, 255, 255, 0.8);
}
.svg-background {
width: 100%;
position: fixed;
z-index: -100;
margin-top: -15vh;
height: 118vh;
}
</style>

<video class="svg-background" loop autoplay>
    <source src="{% static 'live/autumn-leaves.webm' %}" type="video/webm">
</video>


<div class="category">
    <div class="cat-head" style="height: 100%; background: var(--main-bg); margin: 0; padding: 5px 0; border-radius: 30px;">
    <h3 style="color: white; text-align: center">Categories</h3>
    </div>
    <br>


    <a href="/">All Products</a>
    <hr>
    <a href="/category/Apparel-men">Clothes</a>
    <a href="/category/Fashion-accessory">Accessories</a>
    <a href="/category/Fashion-footwear">Shoes</a>
    <a href="/category/Misc">Misc</a>

</div>

</div>

<div class="all-products">
{% if products %}
    <div class="row">

<div class="form-inline mob-cart-float">
    <a href="{% url 'cart' %}">
        <img src="{% static 'images/cart.svg' %}" id="cart-icon-mob">
    </a>
    <p id="cart-total-mob">{{cartItems}}</p>
</div>


    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{product.imageURL}}">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <button style="color: white;" data-product="{{product.id}}" data-action="add" class="btn add-btn update-cart" onclick="cartSnack()">Add to Cart</button>
            <a href="/product/{{product.slug}}" class="btn btn-secondary">View</a>
            <h4 style="display: inline-block; float: right;">${{product.price|floatformat:2}}</h4>
        </div>
    </div>
    {% endfor %}


<div id="snackbar">Added!</div>

</div>

</div>

{% else %}
<div class="container" style="margin-top: 100px; margin-left: 380px;" >

<h3>No results Found </h3>

</div>
{% endif %}

<script>
    function cartSnack() {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }
</script>




{% endblock content %}

