{% extends 'store/main.html' %}

{% load static %}

{% block content %}
<style>
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

<!--@-webkit-keyframes fadein {-->
<!--  from {bottom: 0; opacity: 0;}-->
<!--  to {bottom: 30px; opacity: 1;}-->
<!--}-->

<!--@keyframes fadein {-->
<!--  from {bottom: 0; opacity: 0;}-->
<!--  to {bottom: 30px; opacity: 1;}-->
<!--}-->

<!--@-webkit-keyframes fadeout {-->
<!--  from {bottom: 30px; opacity: 1;}-->
<!--  to {bottom: 0; opacity: 0;}-->
<!--}-->

<!--@keyframes fadeout {-->
<!--  from {bottom: 30px; opacity: 1;}-->
<!--  to {bottom: 0; opacity: 0;}-->
<!--}-->
</style>

<div class="row">

<div class="form-inline mob-cart-float">
    <a href="{% url 'cart' %}">
        <img src="{% static 'images/cart.svg' %}" id="cart-icon-mob">
    </a>
    <p id="cart-total-mob">{{cartItems}}</p>
</div>




    {% for product in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{product.imageURL}}">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <button data-product="{{product.id}}" data-action="add" class="btn add-btn update-cart" onclick="cartSnack()">Add to Cart</button>
            <a href="product/{{product.slug}}" class="btn btn-secondary">View</a>
            <h4 style="display: inline-block; float: right;">${{product.price|floatformat:2}}</h4>
        </div>
    </div>
    {% endfor %}

<!--{% load el_pagination_tags %}-->

<!--{% paginate products %}-->
<!--{% for product in products %}-->
<!-- <h1>{{product.name}}</h1><br>-->
<!--{% endfor %}-->
<!--{% show_pages %}-->


<div id="snackbar">Added!</div>

</div>
<script>
    function cartSnack() {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }
</script>

{% endblock content %}

