{% extends 'store/main.html' %}

{% load static %}

{% block content %}

<style>
    .section {
        height: 80vh;
    }

    .svg-background {
        width: 100%;
        position: absolute;
        z-index: -100;
        margin-top: -15vh;
        height: 118vh;
    }

    .product-wrapper {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .title-image {
        display: flex;
        margin: auto 20vh;
    }
    .product-title {
        margin-top: 5vh;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        min-height: 70vh;
        max-height: 70vh;
        max-width: 50%;
        min-width: 50%;
    }
    .product-title h1 {
        font-size: 6rem;
    }
    .product-image {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50vh;
        max-width: 50%;
        min-width: 50%;
    }
    .product-background{
        position: fixed;
        z-index: 5;
        height: 50%;
        opacity: 0.5;
    }
    .comment-box{
        padding: 10px;
        height: 5vh;
        width: 100%;
    }
    .review-box {
        max-height: 50vh;
        overflow-x: hidden;
    }

    .reviews {
        width: 60%;
        margin: 12vh auto;
        margin-top: 10%;
    }
    .recommended-products {
        width: 60%;
        margin: 12vh auto;
        margin-top: 10%;

    }



</style>

<!--<div class="filler-box">-->

<!--</div>-->
<!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffe6ff" fill-opacity="1" d="M0,64L80,58.7C160,53,320,43,480,74.7C640,107,800,181,960,186.7C1120,192,1280,128,1360,96L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>-->
<!--<svg style="z-index: -101; margin-top: 65vh;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffe6" fill-opacity="1" d="M0,64L80,58.7C160,53,320,43,480,74.7C640,107,800,181,960,186.7C1120,192,1280,128,1360,96L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>-->
<!--<svg style="z-index: -102; margin-top: 68vh;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#e6ffff" fill-opacity="1" d="M0,64L80,58.7C160,53,320,43,480,74.7C640,107,800,181,960,186.7C1120,192,1280,128,1360,96L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>-->




<style>
    .container {
        margin: 0;
    }
</style>


<!--<img class="svg-background" src="{% static 'images/product-background.svg' %}" alt="">-->
<video class="svg-background" loop autoplay>
    <source src="{% static 'live/store-clouds.webm' %}" type="video/webm">
</video>

<div class="product-wrapper">

    <div class="section title-image">

        <div class="product-title">
        <h1>{{product.name}}</h1>
        <h4 style="margin-top: 5vh; color: grey">{{product.description}}</h4>
        <button style="color: white; font-weight: bold; font-size: 1.2rem; padding: 10px 30px; margin-top: 5vh;" data-product="{{product.id}}" data-action="add" class="btn add-btn update-cart ld ld-zoom-in">Add to Cart</button>
        </div>

        <div class="product-image">
            <img class="ld ld-bounce-alt-in" src="{{product.imageURL}}" alt="" style="max-width: 80%; max-height: 70%;">
        </div>

    </div>


    <div class="section reviews">

        <h1>User Reviews</h1><br>

        <div class="review-box">
            {% for review in reviews %}
            <div class="card">
                <div class="card-header">
                @ {{review.customer}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{review.review}}</h5>
                    <p class="card-text">{{review.date_added}}</p><br>
                    <p>Automatic Rating: <strong>{{review.rating|floatformat:0}}</strong></p>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
<!--        end of review box-->

            {% if request.user.is_authenticated %}
            <div class="card">
                <div class="card-header">
                @ {{user.username}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Leave a review</h5>

                    <form action="" method="post">
                    {%csrf_token%}
                    {{form.review}}
                    <input type="submit" name="Submit">
                    </form>


                </div>
            </div>

            {% else %}
            <div>
                <br><br>
                <h4>Login to Review!</h4>
            </div>







        {% endif %}
    </div>
<!--    end of section-->

    <div class="section recommended-products">



        {% if recommended_products %}
        <h1>{{suggest_title}}</h1>

<div class="row">
    {% for recommended in recommended_products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{recommended.imageURL}}">
        <div class="box-element product">
        <h6><strong>{{recommended.name}}</strong></h6>
        <hr>
        <button style="color: white;" data-product="{{recommended.id}}" data-action="add" class="btn add-btn update-cart" onclick="cartSnack()">Add to Cart</button>
        <a href="/product/{{recommended.slug}}" class="btn btn-secondary">View</a>
        <h4 style="display: inline-block; float: right;">${{recommended.price}}</h4>
        </div>
    </div>
    {% endfor %}

</div>
        {% endif %}


    </div>




</div>


<script>
    var x = document.getElementById('id_review');
    x.classList.add('comment-box');
    x.placeholder = "Did you like the product? "
</script>


{% endblock %}